 

.hamburger-drop-down-menu-content a .feedback-button {

    background-color: rgb(103, 112, 210);
    color: white;


}

 
.feedback-card{
    box-sizing: border-box;
    width:calc(100% - 40px);
    margin:40px 20px;

    border-radius: 24px;
    box-shadow:2px 14px 15px 8px rgb(140 145 204);
    overflow: hidden;

  
}
.feedback-card header{
    width:100%;
    text-align: center;
    
}
.feedback-card header h2{
        background-color: rgb(103, 112, 210);
        color:white;
        font-size: 27px;
        font-weight: 450;
        letter-spacing: 1.5px;
        padding:10px 0;
         

}
.feedback-card .feedback-content{
    width:100%;
    background-color: white;
}
.feedback-card .feedback-content .star-ratting{
        text-align: center;
    font-size: 27px;
    padding: 12px;
 
 
}
.feedback-card .feedback-content .feedback-message textarea{
    width:calc(100% - 70px);
    min-height:150px;
    padding:15px;
    margin:10px 20px 20px ;

    background-color: white;
    box-shadow: 2px 8px 15px 6px rgb(174 177 214);
    border-radius: 24px;

    border:none;
       color: #64748B;
    font-size: 18px;
    line-height:23px;
    letter-spacing: 0.5px;
}
.feedback-card .feedback-content .button{
    margin: 10px 20px 20px;
    text-align: center;
}
.feedback-card .feedback-content .button form input{
    padding:10px 20px;
    font-size: 18px;
    border-radius: 24px;
    border:none;
    background-color: rgb(89 98 184);
    color:white;
    letter-spacing: 1.5px;
    font-weight:550;
    box-shadow:2px 7px 10px 4px rgb(140 145 204);
    border-bottom: white solid 0.5px;


}
.feedback-card .feedback-content .button form input:hover{
    background-color: rgb(77 86 170);

}