 

.hamburger-drop-down-menu-content a .feedback-button {

    background-color: rgb(103, 112, 210);
    color: white;


}

 
.feedback-card{
    box-sizing: border-box;
    width:calc(100% - 40px);
    margin:40px 20px;

    border-radius: 24px;
    box-shadow:2px 14px 15px 8px rgb(140 145 204);
    overflow: hidden;

  
}
.feedback-card header{
    width:100%;
    text-align: center;
    
}
.feedback-card header h2{
        background-color: rgb(103, 112, 210);
        color:white;
        font-size: 27px;
        font-weight: 450;
        letter-spacing: 1.5px;
        padding:10px 0;
         

}
.feedback-card .feedback-content{
    width:100%;
    background-color: white;
}
.feedback-card .feedback-content .star-ratting{
        text-align: center;
    font-size: 27px;
    padding: 12px;
 
 
}
.feedback-card .feedback-content .feedback-message textarea{
    width:calc(100% - 70px);
    min-height:150px;
    padding:15px;
    margin:10px 20px 20px ;

    background-color: white;
    box-shadow: 2px 8px 15px 6px rgb(174 177 214);
    border-radius: 24px;

    border:none;
       color: #64748B;
    font-size: 18px;
    line-height:23px;
    letter-spacing: 0.5px;
}
.feedback-card .feedback-content .button{
    margin: 10px 20px 20px;
    text-align: center;
}
.feedback-card .feedback-content .button form input{
    padding:10px 20px;
    font-size: 18px;
    border-radius: 24px;
    border:none;
    background-color: rgb(89 98 184);
    color:white;
    letter-spacing: 1.5px;
    font-weight:550;
    box-shadow:2px 7px 10px 4px rgb(140 145 204);
    border-bottom: white solid 0.5px;


}
.feedback-card .feedback-content .button form input:hover{
    background-color: rgb(77 86 170);

}
.past-feedback-section h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}
.past-feedback-section .past-feedback-cart .past-feedback-content{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin: 14px;
    border-radius: 15px;
    border: 1px #E5E7EB solid;
    max-width: calc(100% - 50px);
    box-shadow: 0px 0px 3px #E5E7EB;

    gap:8px;

        letter-spacing: 0.5px;
        color:#0F172A;
}
.past-feedback-section .past-feedback-cart .past-feedback-content .upper-block{
       display: flex;
    gap: 4px;
    justify-content: space-evenly;
    width: 100%; 
}
.past-feedback-section .past-feedback-cart .past-feedback-content .lower-block{
    width:100%;
    text-align: center;
    color:#465161;
}
.past-feedback-section .past-feedback-cart .past-feedback-content .upper-block p:nth-child(1){
font-weight: 600;
}
.past-feedback-section .past-feedback-cart .past-feedback-content .upper-block .star-family{
color:rgb(255, 196, 0);
 
}



