/* background-color: #F8FAFC
TEXT-PRIMARY : #0F172A;
TEXT SECONDARY : #64748B
BORDER : #E5E7EB */
/* 360 * 640 */

:root {
    --font-inter: "Inter", sans-serif;
    --logo-font: "Quicksand", sans-serif;


}


body {
    font-size: 16px;
    font-family: var(--font-inter);
    color: #0F172A;
    background-color: rgb(248, 249, 250);

}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

}

.nav-bar-container {

    background-color: rgb(103, 112, 210);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    padding-right: 10px;
    color: white;



}

.nav-bar-container .nav-left {

    transition: all linear 0.2s;

    font-family: var(--logo-font);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0px;
}

.nav-bar-container .nav-left figure {
    max-width: 85px;
    transition: all linear 0.3s;


}

.nav-bar-container .nav-left figure img {
    max-width: 100%;
    transition: all linear 0.3s;


}

.nav-bar-container .nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

}

.nav-bar-container .nav-right figure {
    max-width: 50px;
    padding: 8px;
    transition: transform ease-in-out 0.1s;

}

.nav-bar-container .nav-right figure img {
    width: 100%;
    border-radius: 100%;
}

.nav-bar-container .nav-right .hamburger {
    transition: all ease-in-out 0.3s;
}

.nav-bar-container .nav-right .hamburger span {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    margin: 7px;
    margin-right: 20px;
    transition: all ease 0.2s;
}

.nav-bar-container .nav-right .hamburger .span-transform-one {
    transform: translateY(11px);

}

.nav-bar-container .nav-right .hamburger .span-transform-three {
    transform: translateY(-11px);
}

.hamburger-drop-down-menu-content {
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    width: 100%;

    text-align: center;

    opacity: 0;
    position: absolute;
    pointer-events: none;

    padding: 5px;

    transform: translateY(-100%);
    transition: all ease-in-out 0.2s;
    border-bottom: 2px solid #E5E7EB;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.menu-bar-show {

    opacity: 1;
    display: block;
    transform: translateY(0);

    pointer-events: auto;
}

.hamburger-drop-down-menu-content div {
    padding: 5px;

    border-radius: 10px;
    max-width: 80%;

    margin: 0 auto;
    margin-bottom: 5px;

    border: 2px solid #E5E7EB;


}

.hamburger-drop-down-menu-content div:hover {
    background-color: rgb(82, 89, 166);
    color: white;

}

.hamburger-drop-down-menu-content>*:first-child {

    background-color: rgb(103, 112, 210);
    color: white;


}

.header-card-box {
    color: rgb(89, 96, 102);
    text-align: center;


    max-width: 100%;
    padding: 30px;

}

.header-card-box .card-heading {
    font-size: 22px;

}

.header-card-box .card-content {
    max-width: 90%;
    margin: auto;
    padding-top: 10px;

}

.mess-quick-details-card {
    max-width: 100vw;
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    scroll-behavior: smooth;

    /* hiding scroll-bar in firefox */
    scrollbar-width: none;

    box-sizing: border-box;


}

/* hiding scroll bar in chrome safari and edge */
.mess-quick-details-card::-webkit-scrollbar {
    display: none;
}

.mess-quick-details-card .mess-balance,
.mess-quick-details-card .mess-cuts,
.mess-quick-details-card .mess-feedback,
.mess-quick-details-card .current-mess {

    margin: 20px;
    padding: 20px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;

    background-color: white;
    border: 2px solid #E5E7EB;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    color: #64748B;
    font-size: 20px;
    text-align: center;

    box-shadow: 2px 10px 8px gray;


}

.mess-quick-details-card .mess-cuts .active,
.mess-quick-details-card .mess-feedback .rating {
    color: #555c66;
    font-size: 25px;
    font-weight: 500;


}

.mess-quick-details-card .mess-balance .amount,
.mess-quick-details-card .mess-cuts .active span,
.mess-quick-details-card .mess-feedback .rating span,
.mess-quick-details-card .current-mess .mess-name {

    color: rgb(103, 112, 210);
    font-size: 30px;
    font-weight: 700;
    text-align: center;



}

.nav-bar-container .disappear {
    opacity: 0;
    transform: translateX(-100%) scale(0);
}


.profile-popup-view {
    opacity: 0;
    transform: translateX(100%) scale(0);
    position: absolute;
    transition: all linear 0.3s;

    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 9px;


}

.profile-popup-view .user-name {
    margin-bottom: 11px;
}

.profile-popup-view button {
    padding: 2px 15px;
    border-radius: 20px;
    border: 3px outset rgb(150, 155, 209);
    background-color: rgba(159, 163, 200, 0.112);
    background: linear-gradient(to right, rgb(103, 112, 210), rgba(255, 255, 255, 0.49));
    border-right-color: rgb(255, 255, 255);
    padding-top: 4px;
    box-shadow: 0 0 4px rgb(176, 180, 224);
    font-weight: 600;
    color: white;

    font-size: 16px;
    letter-spacing: 2px;


}

.profile-appear {
    opacity: 1;
    transform: translateX(0%) scale(1);

}

.figure-border {
    border: 2px outset rgb(150, 155, 209);
    border-radius: 100%;
    background: linear-gradient(to right, rgb(103, 112, 210), white);



}

.nav-bar-container .profile-hamburger {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: scale(0);
    transition: all linear 0.3s;
    margin: 7px;
    margin-right: 10.8px;

}

.hamburger-disappear {
    opacity: 0;
    scale: 0;
}

.nav-bar-container .profile-hamburger-show {
    opacity: 1;
    transform: scale(1);
}


.nav-bar-container .profile-hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 5px;







}

.nav-bar-container .profile-hamburger>*:first-child {
    transform: translateY(7px) rotateZ(45deg);


}

.nav-bar-container .profile-hamburger span:nth-child(2) {
    transform: rotateZ(-45deg);

}

.mess-cut-apply-btn button,
.feedback-btn button {

    background-color: rgb(103, 112, 210);
    width: calc(100% - 40px);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    border: none;
    border-radius: 10px;
    box-shadow: 2px 10px 8px gray;
    border-bottom: 1px solid white;

    box-sizing: border-box;

    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;

    padding: 10px 20px;
    margin: 20px;



}

.mess-cut-apply-btn button:hover,
.feedback-btn button:hover {
    background-color: rgb(82, 89, 166);

}

.mess-cut-apply-btn figure,
.feedback-btn figure {
    width: 40px;

    border: none;
    border-radius: 100%;
    overflow: hidden;
    object-fit: contain;
}

.mess-cut-apply-btn figure img,
.feedback-btn figure img {
    max-width: 80%;
}

.today-menu {
    background-color: white;
    margin: 20px;
    margin-bottom: 50px;
    width: calc(100% - 40px);
    border: 2px #E5E7EB solid;
    border-radius: 24px;
    box-shadow: 2px 10px 8px gray;
    box-sizing: border-box;

overflow: hidden;
   
position: relative;
}

.today-menu .food-container{
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
}


.today-menu img {
    width: 20px;

}

.today-menu .heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;

    position: sticky;
    background-color: white;
    padding: 15px;
    top: 0px;
    background-color: rgb(103, 112, 210);
    color: white;
    margin: 0;




}

.today-menu .heading h3 {
    font-weight: 550;
    font-size: 17px;
    letter-spacing: 2px;

}

.today-menu .breakfast-corner header,
.today-menu .lunch-corner header,
.today-menu .snacks-corner header,
.today-menu .dinner-corner header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    font-size: 17px;
    letter-spacing: 1px;
    border-bottom: 1px #64748B solid;
    box-shadow: 2px 8px 18px rgb(141 143 167);
    border-top: 0.5px solid rgb(82, 89, 166);
    font-weight: 600;
    border-radius: 4px;

     width:fit-content;
     margin:0 auto;
     padding: 10px 20px;
     border-radius: 20px;


}
.today-menu .breakfast-corner header{
    margin-top: 24px;
}


.today-menu .breakfast-corner .food-items,
.today-menu .lunch-corner .food-items,
.today-menu .snacks-corner .food-items,
.today-menu .dinner-corner .food-items {

    padding: 20px 20px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;

    border: 1px rgb(191 193 214) solid;
    box-shadow: 1px 10px 10px rgb(122 129 197);
    border-radius: 20px;
    margin: 25px;
    color: #2f2f2f;


}
 