/* background-color: #F8FAFC
TEXT-PRIMARY : #0F172A;
TEXT SECONDARY : #64748B
BORDER : #E5E7EB */
/* 360 * 640 */

:root {
    --font-inter: "Inter", sans-serif;
    --logo-font: "Quicksand", sans-serif;


}


body {
    font-size: 16px;
    font-family: var(--font-inter);
    color: #0F172A;
    background-color: rgb(248, 249, 250);

}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

}



.hamburger-drop-down-menu-content a .dashboard-button {

    background-color: rgb(103, 112, 210);
    color: white;


}

.header-card-box {
    color: rgb(89, 96, 102);
    text-align: center;


    max-width: 100%;
    padding: 30px;

}

.header-card-box .card-heading {
    font-size: 22px;

}

.header-card-box .card-content {
    max-width: 90%;
    margin: auto;
    padding-top: 10px;

}

.mess-quick-details-card {
    max-width: 100vw;
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    scroll-behavior: smooth;

    /* hiding scroll-bar in firefox */
    scrollbar-width: none;

    box-sizing: border-box;


}

/* hiding scroll bar in chrome safari and edge */
.mess-quick-details-card::-webkit-scrollbar {
    display: none;
}

.mess-quick-details-card .mess-balance,
.mess-quick-details-card .mess-cuts,
.mess-quick-details-card .mess-feedback,
.mess-quick-details-card .current-mess {

    margin: 20px;
    padding: 20px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;

    background-color: white;
    border: 2px solid #E5E7EB;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    color: #64748B;
    font-size: 20px;
    text-align: center;

    box-shadow: 2px 10px 8px gray;


}

.mess-quick-details-card .mess-cuts .active,
.mess-quick-details-card .mess-feedback .rating {
    color: #555c66;
    font-size: 25px;
    font-weight: 500;


}

.mess-quick-details-card .mess-balance .amount,
.mess-quick-details-card .mess-cuts .active span,
.mess-quick-details-card .mess-feedback .rating span,
.mess-quick-details-card .current-mess .mess-name {

    color: rgb(103, 112, 210);
    font-size: 30px;
    font-weight: 700;
    text-align: center;



}

.mess-quick-details-card .mess-balance {
    padding-top: 32px;
     padding-bottom: 11px;
}



.mess-menu button,
.feedback-btn button {

    background-color: rgb(103, 112, 210);
    width: calc(80% - 40px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: none;
    border-radius: 10px;
    box-shadow: 2px 10px 8px gray;
    border-bottom: 1px solid white;

    box-sizing: border-box;

    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;

    padding: 10px 20px;


    margin: 0 auto;
    margin-bottom: 30px;




}

.mess-menu button:hover,
.feedback-btn button:hover {
    background-color: rgb(82, 89, 166);

}

.mess-menu figure,
.feedback-btn figure {
    width: 40px;

    border: none;
    border-radius: 100%;
    overflow: hidden;
    object-fit: contain;
}

.mess-menu figure img,
.feedback-btn figure img {
    max-width: 80%;
}

.today-menu {
    background-color: white;
    margin: 20px;
    margin-bottom: 50px;
    width: calc(100% - 40px);
    border: 2px #E5E7EB solid;
    border-radius: 24px;
    box-shadow: 2px 10px 8px gray;
    box-sizing: border-box;

    overflow: hidden;

    position: relative;
}

.today-menu .food-container {
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
}


.today-menu img {
    width: 20px;

}

.today-menu .heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;

    position: sticky;
    background-color: white;
    padding: 15px;
    top: 0px;
    background-color: rgb(103, 112, 210);
    color: white;
    margin: 0;




}

.today-menu .heading h3 {
    font-weight: 550;
    font-size: 17px;
    letter-spacing: 2px;

}

.today-menu .breakfast-corner header,
.today-menu .lunch-corner header,
.today-menu .snacks-corner header,
.today-menu .dinner-corner header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    font-size: 17px;
    letter-spacing: 1px;
    border-bottom: 1px #64748B solid;
    box-shadow: 2px 8px 18px rgb(141 143 167);
    border-top: 0.5px solid rgb(82, 89, 166);
    font-weight: 600;
    border-radius: 4px;

    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;


}

.today-menu .breakfast-corner header {
    margin-top: 24px;
}


.today-menu .breakfast-corner .food-items,
.today-menu .lunch-corner .food-items,
.today-menu .snacks-corner .food-items,
.today-menu .dinner-corner .food-items {

    padding: 20px 20px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;

    border: 1px rgb(191 193 214) solid;
    box-shadow: 1px 10px 10px rgb(122 129 197);
    border-radius: 20px;
    margin: 25px;
    color: #64748B;
    font-size: 18px;


}