.hamburger-drop-down-menu-content a .mess-menu-button {

    background-color: rgb(103, 112, 210);
    color: white;


}

.header-card-box {
    color: rgb(89, 96, 102);
    text-align: center;


    max-width: 100%;
    padding: 30px;

}

.header-card-box .card-heading {
    font-size: 22px;

}

.header-card-box .card-content {
    max-width: 90%;
    margin: auto;
    padding-top: 10px;

}
 .food-menu {
    background-color: white;
    margin: 20px;
    margin-bottom: 50px;
    width: calc(100% - 40px);
    border: 2px #E5E7EB solid;
    border-radius: 24px;
    box-shadow: 2px 10px 8px gray;
    box-sizing: border-box;

    overflow: hidden;

    position: relative;
}

.food-menu .food-container {
    height: 360px;
    overflow: hidden;
    overflow-y: scroll;
}


.food-menu img {
    width: 20px;

}

.food-menu .heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;

    position: sticky;
    background-color: white;
    padding: 15px;
    top: 0px;
    background-color: rgb(103, 112, 210);
    color: white;
    margin: 0;




}

.food-menu .heading h3 {
    font-weight: 550;
    font-size: 17px;
    letter-spacing: 2px;

}

.food-menu .breakfast-corner header,
.food-menu .lunch-corner header,
.food-menu .snacks-corner header,
.food-menu .dinner-corner header {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    font-size: 17px;
    letter-spacing: 1px;
    border-bottom: 1px #64748B solid;
    box-shadow: 2px 8px 18px rgb(141 143 167);
    border-top: 0.5px solid rgb(82, 89, 166);
    font-weight: 600;
    border-radius: 4px;

    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 20px;


}

.food-menu .breakfast-corner header {
    margin-top: 24px;
}


.food-menu .breakfast-corner .food-items,
.food-menu .lunch-corner .food-items,
.food-menu .snacks-corner .food-items,
.food-menu .dinner-corner .food-items {

    padding: 20px 20px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;

    border: 1px rgb(191 193 214) solid;
    box-shadow: 1px 10px 10px rgb(122 129 197);
    border-radius: 20px;
    margin: 25px;
    color: #64748B;
    font-size: 18px;


}
.menu-container{
    width: 100%;
  max-width: 100vw;  
    display: flex;
    flex-direction: row;
 
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    box-sizing: border-box;
}
.menu-container .food-menu{
     max-width: 550px;   
  flex-shrink: 0;
  
}